<div class="row">
  <div class="col-lg-12">
    <h1>Zones</h1>
    <ul>
      <%= for zone <- @zones do %>
        <li><%= zone.name %> - <%= zone.status %></li>
      <% end %>
    </ul>
  </div>
</div>
