<div class="row">
  <div class="col-lg-12">
    <h1>Zones</h1>
    <ul class="zones">
      <%= for zone <- @zones do %>
        <li class="<%= zone.status %>"><%= zone.name %></li>
      <% end %>
    </ul>
  </div>
</div>
